
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plain light";
  /* background-color: rgba(207, 106, 106, 0.727); */
}
@font-face {
    font-family: "Silk serif";
    src: url('./assets/Fonts/silkserif-regularitalic-webfont.woff') format('woff');
  }
  @font-face {
    font-family: "Plain light";
    src: url('./assets/Fonts/plain-light-webfont.woff') format('woff');
  }
  

html,body{
    height: 100%;
    width: 100%;
    color: aliceblue;
}
#crsr{ 
    height: 2.25vw;
    width: 2.25vw;
    position: fixed;
     z-index: 10;
    /* background-color: white; */ 
    border-radius: 48%;
    border: 2px solid rgba(245, 245, 245, 0.723);
    mix-blend-mode: difference;
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 26vh 12vw;
}
.statement{
    height: fit-content;
    /* width: fit-content;/ */
    /* background: #721c1c; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2vw;
}

.statement #counting{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
#counting h4, #counting h5{
    font-size: 3vw;
    font-weight: 100;
}
#counting h4{
    /* background: #d14040; */
    text-align: right;
    width: 4vw;
}
.statement h2 {
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 900;
}
.statement h3 {
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 900;
    animation: NOW;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes NOW {
    0% {
        font-family: 'Serif';
        -webkit-text-stroke: 1px white;
        color: #030303;
        opacity: 0;
    }
    49%{
        font-family: 'Serif';
        -webkit-text-stroke: 1px white;
        color: #030303;
        opacity: 1;
    }
    50%{
        font-family: 'Gilroy';
        -webkit-text-stroke: 1px white;
        opacity: 0;
        color: transparent;
    }
    100% {
        font-family: 'Gilroy';
        -webkit-text-stroke: 1px white;
        opacity: 1;
        color: transparent;
    }
    
}

#main{
    position: relative;
    padding: 0.001px;
    background-color: #030303;
    /* overflow-x: hidden; */
}

#page1{
    background: #141414;
    height: 100vh;
    width: 100%;
}
#page1 nav{
    display: flex;
    align-items: center;
    padding: 3vw 6vw;
    justify-content: space-between;
    /* background-color: aqua; */
}
#page1 #nav-part2{
    display: flex;
    list-style: none;
    gap: 2vw;
    margin-top: 3px;
    align-items: baseline;
    justify-content: space-between;
    /* background-color: rgb(226, 22, 22); */
}
#nav-part2 ul{
    font-size: 0.8vw;
}
header{
    position: relative;
}
header .hero{
    /* background-color: crimson; */
    width: 72%;
    margin-left: 28%;
    height: fit-content;
    overflow: hidden;
}
header #hero3{
    text-transform: uppercase;
    display: flex;
}
.hero:nth-child(1){
    margin-top: 17vh;
}
.hero h1{
    text-transform: uppercase;
    font-size: 6vw;
    display: flex;  
    position: relative;
    /* line-height: 7.2vw;   */
}
header::before{
    content: "01";
    font-size: 3vw;
    font-family: "Silk serif";
    position: absolute;
    left: 21%;
    top:2%;
    font-weight: 100;
}
.hero h2{
    font-size: 3vw;
    font-weight: 900;
    font-size: 6vw;
    border-bottom: 0.4vw solid #fff;
    /* margin-right: 20px; */
    transition: all ease-in 0.3;
    /* padding-bottom: 1vw; */
    /* line-height: 7.2vw;  */
}
.hero h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    border-bottom: 0.4vw solid #ffffff1e;
    font-weight: 700;
}
#page2{
    height: 100vh;
    width: 100%;
    /* background-color: aquamarine; */
    background-color: #141414;
    position: relative;
    padding-top: 20vh;
}
#videoContainer #videoCursor{
    height: 6vw;
    width: 6vw;
    background-color: #FFA63D;
    border-radius: 49%;
    position: absolute;
    top:-12%;
    right: 20%;
    z-index: 200;

}
#videoCursor svg{
    text-align: center;
    /* background-color: #ff3db8; */
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
#videoContainer img{
    position: absolute;
    top:0;
    object-fit: cover;
    height: 100%;
    width: 100%;

}
#videoContainer{
    height: 60vh;
    width: 70vw;
    position: relative;
    left: 28%;
    /* top:20% */
}
#videoContainer video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page3{
    min-height: 100vh;
    width: 100%;
    /* background-color: cadetblue; */
    background-color: #141414;
}
#page4{
    min-height: 100vh;
    width: 100%;
    /* background-color: rgb(19, 21, 110); */
    background-color: #141414;
    overflow-x: hidden;
    position: relative;
}
#page4 #page4Content{
    width: 72vw;
    /* overflow-x: hidden; */
    position: relative;
    /* background-color: #FFA63D; */
    margin-left: 28%;
}
#page4Content h2{
    font-size: 6vw;
    text-transform: uppercase;
    position: relative;
}
#page4Content h2::before{
    content: "03";
    font-size: 3vw;
    font-family: "Silk serif";
    position: absolute;
    left: -10%;
    top: 8%;
    font-weight: 100;
}
#page4Content .underline{
    height: 4px;
    width: 100%;
    background-color: #fff;
    margin: 1vw 0vw;
    border-radius: 30%;
}
#page4Content>p{
    font-size: 2vw;
    width: 50%;
    margin-top: 3vw;
    margin-bottom: 3vw;
}
#page4Content section{
    display: flex;
    width: 100%;
    /* background-color: #FFA63D; */
    /* /* justify-content: center; */
    /* align-items: center;  */
}
#page4Content section img{
    height:80vh;
    width: 50%;
    object-fit: cover;
}
#page4Content article{
    width: 30%;
    font-size: 1vw;
    margin-left: 2vw;
}
#page4Content #page4-Blue-Featured{
    position: relative;
    margin-top: -33vh;
    margin-left: 26vw;
    width: 30vw;
    background-color: #3f7df4;
    padding: 4vw 2.5vw;
}
#page4-Blue-Featured #blueBoxElement{
    border-bottom: 1px solid #ffffff8f;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
    padding: 3vw 0vw;
}
#blueBoxElement h3{
    font-size: 1.6vw;
    text-align: center;
    font-weight: 500;
}
#blueBoxElement p{
    width: 40%;
    font-size: 0.8vw;
    text-align: justify;
}
#page5{
    min-height: 100vh;
    width: 100%;
    padding: 5vw 0;
    overflow: hidden;
    background-color: #141414;
    /* background-color: chocolate; */
}

#page5 .elementsOf1{
    width: 100%;
    height: 8vw;
    white-space: nowrap;
    /* overflow-x: auto; */
}
.elementsOf1 h2{
    font-size: 7vw;
    text-transform: uppercase;
    display: inline-block;
    -webkit-text-stroke:2px #ffffff82;
    color: transparent;
    /* font-family: 'Silk serif'; */
    overflow-x: auto;
    /* background-color: #3f7df4; */
    animation-name: marquie;
    transition: all;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-left: 15px;
}
.elementsOf1 span{
    font-size: 7vw;
    text-transform: uppercase;
    display: inline-block;
    -webkit-text-stroke:1px #ffffff82;
    color: transparent;
    font-family: 'Silk serif';
    transition: all;
    animation-name: marquie;
    animation-timing-function: linear;
    margin-left: 15px;
}
#page5 .elementsOf2{
    width: 100%;
    height: 8vw;
    white-space: nowrap;
    /* height: 50vw; */
    /* overflow-x: auto; */
    /* padding: 1vw 2vw; */
}
.elementsOf2 h2{
    font-size: 7vw;
    text-transform: uppercase;
    display: inline-block;
    -webkit-text-stroke:2px #ffffff82;
    color: transparent;
    /* font-family: 'Silk serif'; */
    overflow-x: auto;
    /* background-color: #3f7df4; */
    animation-name: marquie;
    transition: all;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-left: 15px;
    animation-direction: reverse;
}
.elementsOf2 span{
    font-size: 7vw;
    text-transform: uppercase;
    display: inline-block;
    -webkit-text-stroke:1px #ffffff82;
    color: transparent;
    font-family: 'Silk serif';
}


@keyframes marquie {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 20px));
    }
}
