
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  /* background-color: rgba(207, 106, 106, 0.727); */
}
@font-face {
    font-family: "Fira Sans";
    src: url('./assets/Fonts/silkserif-regularitalic-webfont.woff') format('woff');
  }
  

html,body{
    height: 100%;
    width: 100%;
    color: aliceblue;
}
#crsr{ 
    height: 2.25vw;
    width: 2.25vw;
    position: fixed;
     z-index: 10;
    /* background-color: white; */ 
    border-radius: 48%;
    border: 2px solid rgba(245, 245, 245, 0.723);
    mix-blend-mode: difference;
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 26vh 12vw;
}
.statement{
    height: fit-content;
    /* width: fit-content;/ */
    /* background: #721c1c; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2vw;
}

.statement #counting{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
#counting h4, #counting h5{
    font-size: 3vw;
    font-weight: 100;
}
#counting h4{
    /* background: #d14040; */
    text-align: right;
    width: 4vw;
}
.statement h2 {
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 900;
}
.statement h3 {
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 900;
    animation: NOW;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes NOW {
    0% {
        font-family: 'Serif';
        -webkit-text-stroke: 1px white;
        color: #030303;
        opacity: 0;
    }
    49%{
        font-family: 'Serif';
        -webkit-text-stroke: 1px white;
        color: #030303;
        opacity: 1;
    }
    50%{
        font-family: 'Gilroy';
        -webkit-text-stroke: 1px white;
        opacity: 0;
        color: transparent;
    }
    100% {
        font-family: 'Gilroy';
        -webkit-text-stroke: 1px white;
        opacity: 1;
        color: transparent;
    }
    
}

#main{
    position: relative;
    padding: 0.001px;
    background-color: #030303;

}

#page1{
    background: #141414;
    height: 100vh;
    width: 100%;
}
#page1 nav{
    display: flex;
    align-items: center;
    padding: 3vw 6vw;
    justify-content: space-between;
    /* background-color: aqua; */
}
#page1 #nav-part2{
    display: flex;
    list-style: none;
    gap: 2vw;
    margin-top: 3px;
    align-items: baseline;
    justify-content: space-between;
    /* background-color: rgb(226, 22, 22); */
}
#nav-part2 ul{
    font-size: 0.8vw;
}
header .hero{
    /* background-color: crimson; */
    width: 72%;
    margin-left: 28%;
    height: fit-content;
    overflow: hidden;
}
header #hero3{
    text-transform: uppercase;
    display: flex;
}
.hero:nth-child(1){
    margin-top: 17vh;
}
.hero h1{
    text-transform: uppercase;
    font-size: 6vw;
    display: flex;  
    /* line-height: 7.2vw;   */
}
.hero h2{
    font-size: 3vw;
    font-weight: 900;
    font-size: 6vw;
    border-bottom: 0.4vw solid #fff;
    /* margin-right: 20px; */
    transition: all ease-in 0.3;
    /* padding-bottom: 1vw; */
    /* line-height: 7.2vw;  */
}
.hero h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    border-bottom: 0.4vw solid #ffffff1e;
    font-weight: 700;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: aquamarine;
    position: relative;
    padding-top: 20vh;
}
#videoContainer #videoCursor{
    height: 6vw;
    width: 6vw;
    background-color: #FFA63D;
    border-radius: 49%;
    position: absolute;
    top:-12%;
    right: 20%;
    z-index: 200;

}
#videoCursor svg{
    text-align: center;
    /* background-color: #ff3db8; */
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
#videoContainer img{
    position: absolute;
    top:0;
    object-fit: cover;
    height: 100%;
    width: 100%;

}
#videoContainer{
    height: 60vh;
    width: 70vw;
    position: relative;
    left: 25%;
    /* top:20% */
}
#videoContainer video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: cadetblue;
}
#page4{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(19, 21, 110);
}
#page4 #page4Content{
    width: 72vw;
    position: relative;
    margin-left: 20%;
}

